@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
  --primary-color: #000012;
  --secondary-color: #4274B0;
  --accent1-color: #140576;
  --accent2-color: #fffffa;

  --heading-font: 'Roboto','Cherry Swash', serif;
  --paragraph-font: 'Sans-serif', serif;

  --nav-background-color: #023e8a;
  --nav-link-color: #002855;
  --nav-hover-link-color: #4274B0;
  --nav-hover-background-color: #A6BCC1;
}

body{
    font-family: var(--paragraph-font);
    max-width: 900px;
    padding: 20px;
}

h1{
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 20px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    color: var(--accent2-color);
}

nav a{
    display: block;
    color: var(--accent2-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}











