nav {
    background-color: steelblue;
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: steelblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p{
    padding: 0;
}

main{
    max-width: 800px;
}

aside{
    margin: 1em;
    border: 1px solid slategrey;
    padding: 1px;
    background-color: #d6d6d6;
    color: black;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 2em;
    border-top: 1px solid black;
    text-align: center;
}





