*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


nav {
    background-color: steelblue;
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: steelblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 1px;
    box-shadow: 0 0 20px grey;
    float: right;
}

p{
    padding: 0;
}

main{
    max-width: 800px;
}

aside{
    position: relative;
    width: 20rem;
}

aside h2{
    position: absolute;
    top: 20px;
    left: 100px;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 2em;
    border-top: 1px solid black;
    text-align: center;
}


/* Class Selectors */
.box{
    border: 1px solid #EDEDED;
    margin: 1rem;
    padding: 1rem;
    background-color: #FCFCFC;
    color: black;
}

